$settings-width: 250px;
$settings-width-small: 200px;
$medium-size: 15px;
$dashboard-width: 800px;
$gray: #4D4D4D;
$background-gray: #F7F8FA;
$light-gray: #C8C8C8;
$graph-height: 350px;
$blue: #63A7FF;
$line-gray: #A8A8A8;
$border-radius: 4px;
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
$arrow-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

// Kleuren die bij Stad Gent logo passen voor warning etc
$red: #C10037;//#FF6363;
$orange: #E79334;
$green: #20D713;

$responsive-tablet: 800px;
$responsive-smartphone: 500px;

@mixin bg-gradient-t2b($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
    $ie-color: ie-hex-str($start-colour);
    $ie-color2: ie-hex-str($end-colour);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#{$ie-color}", EndColorStr="#{$ie-color2}");
    zoom: 1;
}
@mixin bg-gradient-l2r($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, right top, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(left, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(left, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(left, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(left, $start-colour, $end-colour);
    background-image:         linear-gradient(left, $start-colour, $end-colour);
    // Geen IE7-8 support atm
}

body, html {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: $medium-size;
    font-weight: normal;
    color: $gray;

    // Enable beautifull font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 20px 0;
    background: $light-gray;
}

h1 {
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: 400;
}
h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    &:hover, &:link, &:active, &:visited{
        text-decoration: none;
        color: inherit;
    }
}

span.sub {
    color: $light-gray;
    font-weight: 500;
    font-size: 10pt;
}


.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    pointer-events: none;
    @include bg-gradient-l2r(rgba(0,0,0,0.08), rgba(0,0,0,0));
}

#bundle {
    position: absolute;
    left: $settings-width;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -2; // nodig voor google maps dragging te laten werken

    @media screen and (max-width: $responsive-tablet) {
      left: $settings-width-small;
    }

    @media screen and (max-width: $responsive-smartphone) {
      left: 0;
    }
}

#settings {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 30px 25px;
    z-index: 1;
    width: $settings-width;
    box-sizing: border-box;
    margin-left: -$settings-width;
    //overflow: hidden;
    
    @media screen and (max-width: $responsive-tablet) {
      width: $settings-width-small;
      margin-left: -$settings-width-small;
    }

    @media screen and (max-width: $responsive-smartphone) {
      display: none;
    }

    .shadow {
        right: -10px;
    }

    // Radio and select buttons
    label {
        display: block;
        padding: 2px 0;
        cursor:pointer;

        input {
            margin-right: 10px;
        }
        input[type="radio"], input[type="checkbox"]{
            display: none;
        }
        input[type="radio"] + span, input[type="checkbox"] + span{
            display: inline-block;
            margin-right:.25em;
            padding:0;
            width: 1em;
            height: 1em;
            background-image: url("../images/inputs.png");
            background-position: 0 -2em;
            background-repeat: no-repeat;
            background-size: 1em 3em;
        }
        input[type="checkbox"]:checked + span{
            background-position: top left;
        }
        input[type="radio"]:checked + span {
            background-position: 0 -1em;
        }
    }
}

#providers {
    .loading {
        margin: 20px;
    }
}
#map-container {
    background: gray;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    position: absolute;
}
#map-overlay {
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    left:0;
    
    .content{
        background-color: #FFFFFF;
        text-align: center;
        margin: 200px auto 0 auto;
        width: 250px;
        padding: 20px 0;
        border: solid 1px #666666;

        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

        p {
            margin:0;
            padding: 0;
        }
    }
}
#map {
    height: 100%;
    #infoWindow {
        > h1 {
            font-size: 1.5em;
            padding:0;
        }
        > h2 {
            font-size:1.25em;
            padding: 0 0 .25em 0;
        }
        > p {
            padding: 0;
            margin: 0;
            display: inline-block;
            width: 50%;
            &.value,  {
                font-weight: 500;
            }
        }
    }
}

#logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

@import 'dashboard';
@import 'inputs';
@import 'popups';